.idea/
json_gamez/
Analyses/
json_stats/
Dossiers/
Playground.py
hello_internet.html
Ideas
ListUnpacker.py
Main.py
Main2.py
Main3.py
ParallelParser.py
querier.py
Reports.py
ResearchSuite.py
Stats.py
TimerFunction.py